/unit05/nbproject/private/
/unit05/build/
/unit05/dist/
/ea_unit05_demo/target/
/u06-lab01/nbproject/private/
/u06-lab01/build/
/u06-lab2-ejb/nbproject/private/
/u06-lab2-jsf/nbproject/private/
/u06-lab2-ea/nbproject/private/
/u06-lab2-ejb/build/
/u06-lab2-jsf/build/
/u06-lab2-ea/build/
/u06-lab2-jsf/dist/
/u06-lab2-ejb/dist/
/u06-lab2-ea/dist/
/u06-lab3-lib/nbproject/private/
/u06-lab3-lib/build/
/u06-lab3-lib/dist/
/u06-lab3-ejb/nbproject/private/
/u06-lab3-ejb/build/
/u06-lab3-jsf/nbproject/private/
/u06-lab3-jsf/build/
/ea_midterm_st/build/
/unit07_demo/nbproject/private/
/unit07_demo/build/
/money/nbproject/private/
/money/build/